.header-container {
width: 100%;
height: 70px;
background-color: blue;
}

#header_logo {
height: 100%;
position: relative;
left: 50px;
}

.navi {
iposition: relative;
ibottom: 30%;
background-color: lightgray;
}

#outmenu {
display: inline-block;
vertical-align: top;
}

#outmenu a {
position: relative;
font-family: arial, sans-serif;
color: grey;
text-decoration: none;
font-size: 12px;
}

#outmenu a:hover {
color: black;
}

#h_history, #h_analytics {
padding-left: 30px;
}

.header-dropdown {
display: inline-block;
vertical-align: top;
iposition: relative;
ileft: calc(100% - 100px);
itop: -18px;
text-align: right;
background-color: green;
}

.dropbtn {
height: 30%;
}

.dropdown-content {
idisplay: none;
text-align: right;
background-color: yellow;
}

.header-dropdown:hover .dropdown-content {
display: block;
}

.inmenu {
font-family: arial, sans-serif;
color: grey;
padding-top: 10px;
display: block;
text-decoration: none;
font-size: 12px;
}

#logoutform input {
padding-right: 0px;
text-decoration: none;
font-size: 12px;
border-width: 0px;
background-color: white;
}

.inmenu:hover {
color: black;
}
