.head-container {
idisplay: flex;
iflex-direction: row;
iflex-wrap: wrap;
ijustify-content: space-around;
ialign-items: center;
imax-width: 100%;
width: 100%;
height: 70px;
imargin: 0 auto;
ipadding-top: 10px;
background-color: blue;
}

.logo {
position: relative;
left: 10%;
width: 0;
}

#imglogo {
height: 100%;
}

.navi {
position: relative;
bottom: 30%;

idisplay: flex;
ialign-items: flex-start;
ijustify-content: flex-end;
imargin-top: 50px;
ibackground-color: yellow;
}

.navi a {
font-family: arial, sans-serif;
color: grey;
}

.dropdown {
position: relative;
itop: -3px;
left: 88%;
background-color: yellow;
width: 0;
}

.dropbtn {
height: 30%;
}

.dropdown-content {
display: none;
position: absolute;
min-width: 100px;
}

.dropdown-content a {
color: grey;
padding-top: 15px;
display: block;
}

#login {
position: relative;
right: 18px;
}

#signup {
position: relative;
right: 30px;
}

.dropdown:hover .dropdown-content {
display: block;
}

a:link {
text-decoration: none;
font-size: 12px;
}

a:hover {
color: black;
}
