.head-container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
max-width: 100%;
width: 1100px;
margin: 0 auto;
padding-top: 10px;
ibackground-color: blue;
}

.navi {
display: flex;
align-items: flex-start;
justify-content: flex-end;
margin-top: 50px;
ibackground-color: yellow;
}

.navi a {
font-family: arial, sans-serif;
color: grey;
}

#history, #analytics, .dropdown {
padding-left: 30px;
}

.dropdown {
position: relative;
top: -3px;
}

.dropdown-content {
display: none;
position: absolute;
min-width: 100px;
}

.dropdown-content a {
color: grey;
padding-top: 15px;
display: block;
}

#logout {
position: relative;
right: 30px;
}

.dropdown:hover .dropdown-content {
display: block;
}

a:link {
text-decoration: none;
font-size: 12px;
}

a:hover {
color: black;
}
