.header-container {
width: 100%;
height: 70px;
ibackground-color: blue;
}

.logo {
height: 100%;
width: 117px;
margin-left: 50px;
ibackground-color: gray;
}

#header_logo {
height: 100%;
}

.navi {
position: relative;
bottom: 26%;
ibackground-color: lightgray;
}

#outmenu {
position: relative;
left: calc(100% - 270px);
display: inline-block;
vertical-align: top;
ibackground-color: green;
}

#outmenu a {
position: relative;
font-family: arial, sans-serif;
color: grey;
text-decoration: none;
font-size: 12px;
}

#outmenu a:hover {
color: black;
}

#routes, #dashboard {
padding-left: 15px;
}

.in-dropdown {
width: 66px;
position: relative;
left: calc(100% - 106px);
text-align: right;
top: -18px;
ibackground-color: blue;
}

.dropbtn {
height: 21px;
}

.dropdown-content {
display: none;
text-align: right;
ibackground-color: yellow;
}

.in-dropdown:hover .dropdown-content {
display: block;
}

.inmenu {
font-family: arial, sans-serif;
color: grey;
padding-top: 10px;
display: block;
text-decoration: none;
font-size: 12px;
}

.inmenu:hover {
color: black;
}

#cookie {
color: white;
}