body {
iheight: 100%;
}

.home-container {
idisplay: flex;
iflex-grow: 1;
iflex-direction: column;
ijustify-content: center;
ialign-items: center;
ipadding-top: 70px;
ipadding-bottom: 10px;
ipadding-left: 5%;
ipadding-right: 5%;
ipadding-top: 100px;
ipadding-bottom: 120px;
ibackground-color: pink;
height: 80%;
}

.photo {
position: relative;
left: 20%;
width: 0;
ipadding: 5%;
imax-height: 80%;
}

#pic {
height: 80%;
imax-height: 80%;
}
