.all {
min-height: 100%;
}

.home-container {
display: flex;
iflex-grow: 1;
flex-direction: column;
justify-content: center;
align-items: center;
ipadding-top: 70px;
ipadding-bottom: 10px;
padding-left: 5%;
padding-right: 5%;
ipadding-top: 100px;
ipadding-bottom: 120px;
background-color: pink;
}

#pic {
width: 100%;
max-width: 600px;
}
