html, body {
height: 98.6%;
}

.new-container {
height: calc(100% - 140px);
min-height: 440px;
display: flex;
justify-content: center;
align-items: center;
ibackground-color: blue;
}

#newform {
height: 297px;
font-family: arial, sans-serif;
color: black;
display: flex;
flex-direction: column;
align-items: center;
ibackground-color: pink;
}


#newform input, select, option {
height: 35px;
-webkit-appearance: none;
text-align: center;
text-align-last: center;
font-size: 10px;
border-color: lightgrey;
border-style: solid;
border-width: 1px;
border-radius: 20px;
}

#newform select {
background-color: white;
}

#new_grade {
width: 200px;
}

#new_color {
position: relative;
top: 20px;
width: 200px;
}

#new_line {
position: relative;
top: 40px;
width: 200px;
}

#new_date {
position: relative;
top: 60px;
width: 200px;
text-indent: 20px;
}

#new_submit {
position: relative;
top: 120px;
width: 90px;
border-color: grey;
border-width: 2px;
}

#new_submit:hover {
background-color: black;
color: white;
}
