html, body {
height: 98.6%;
}

.msg-container {
height: calc(100% - 140px);
min-height: 300px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
ibackground-color: pink;
}

#addmessage {
font-family: arial;
font-size: 14px;
color: grey;
}

#addmessage:hover {
color: black;
}

.table-container {
min-height: calc(100% - 340px);
padding-top: 100px;
padding-bottom: 100px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
ibackground-color: blue;
}

#disp-div {
width: 400px;
height: 50px;
display: flex;
flex-direction: column;
align-items: flex-end;
ibackground-color: lightgrey;
}

#disp-button {
height: 30px;
color: white;
background-color: black;
-webkit-appearance: none;
text-align: center;
font-size: 10px;
border-width: 0px;
padding: 10px;
iborder-style: solid;
iborder-radius: 20px;
iborder-color: lightgrey;
}

#disp-button:hover {
color: black;
background-color: lightgray;
}    

table {
font-family: arial, sans-serif;
font-size: 10px;
border-collapse: collapse;
width: 400px;
max-width: 100%;
ibackground-color: pink;
}

td, th {
iborder: 1px solid #dddddd;
text-align: center;
padding: 8px;
}

.analytics-row {
padding: 13px;
}

tr:nth-child(even) {
background-color: #dddddd;
}

#actbutt {
height: 15px;
}

#rembutt {
height: 15px;
}
