.signup-container {
height: calc(100% - 140px);
min-height: 350px;
display: flex;
justify-content: center;
align-items: center;
ibackground-color: blue;
}

#signform {
height: 185px;
font-family: arial, sans-serif;
color: black;
position: relative;
top: 10px;
display: flex;
flex-direction: column;
align-items: center;
ibackground-color: pink;
}

#signform input, select, option {
height: 35px;
-webkit-appearance: none;
text-align: center;
text-align-last: center;
font-size: 10px;
border-color: lightgrey;
border-style: solid;
border-width: 1px;
border-radius: 20px;
}

#sign_user {
width: 200px;
}

#sign_pass {
width: 200px;
position: relative;
top: 20px;
}

#sign_submit {
width: 90px;
position: relative;
top: 80px;
border-color: grey;
border-width: 2px;
}

#sign_submit:hover {
color: white;
background-color: black;
}
